.vs/PopupBackgroundApp/CopilotIndices
PopupBackgroundApp/obj/Debug
PopupBackgroundApp/bin/Debug
packages
PopupBackgroundApp/Logs
.vs
PopupBackgroundApp/obj
.cr
PopupBackgroundApp.Tests/obj/Debug
PopupBackgroundApp.Tests/bin/Debug
