<configuration>
	<appSettings>
		<!-- CONTROLE -->
		<add key="Ativo" value="true"/>
		<add key="IntervaloMinutos" value="1"/>

		<!-- API -->
		<add key="ApiBaseUrl" value="https://api.chucknorris.io"/>

		<!-- AUTH ÚNICO -->
		<add key="AuthBaseUrl" value="https://identity.acesso.io"/>
		<add key="UsuarioUnico" value="SEU_USUARIO"/>
		<add key="SenhaUnico" value="SUA_SENHA"/>

		<!-- LOG -->
		<add key="CaminhoArquivo" value="c:/temp"/>
		<add key="NomeArquivo" value="app.log"/>
	</appSettings>
</configuration>
